<div class="panel panel-default">
  <div class="panel-heading">Example of a form with file uploads</div>
  <div class="panel-body">
    <form 
          action="/api/post-example"
          [formGroup]="sampleForm"
          uploadFilesForm
          [theForm]="sampleForm"
          [fileSelector]="fileSelector"
          (onFormSubmit)="onFormSubmit()"
          (onPostResponseReceived)="successFormPostCallback($event)"
          (onPostErrorResponseReceived)="errorFormPostCallback($event)">

      <div class="form-group">
        <label class="required">Some form field 1</label>
        <input type="text" class="form-control" [formControl]="someFormField1" />
        <div class="alert alert-danger" *ngIf="!someFormField1.pristine && someFormField1.errors?.required">Required field</div>
      </div>

      <div class="form-group clearfix">
        <label>{{label}}</label>
        <select-upload-file #fileSelector addFileBttnLabel="Attach file"></select-upload-file>
      </div>

      <div class="form-group clearfix">
        <input type="submit" value="Submit" class="btn btn-success pull-right" [disabled]="!isFormValid()" />
        <button type="button" class="btn btn-default pull-right" (click)="cancelClick()">Cancel</button>
      </div>

    </form>

    <div class="alert alert-success" *ngIf="formPostSuccessMessageHtml" [innerHTML]="formPostSuccessMessageHtml"></div>
    <div class="alert alert-danger" *ngIf="formPostErrorMessageHtml" [innerHTML]="formPostErrorMessageHtml"></div>

  </div>
</div>

<ng-template #cancelModalConf>
  <div class="modal-body text-center">
    <p>Are you sure you wish to clear this form?</p>
    <button class="btn btn-default" (click)="decline()">No</button>
    <button class="btn btn-primary" (click)="confirm()">Yes</button>
  </div>
</ng-template>
